<div class="sidebar bg-body-tertiary">
    <h2>Dashboard Menu</h2>
        <ul class="list-group">
            <li><a href="#">Overview</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Orders</a></li>
            <li><a href="#">Customers</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Settings</a></li>
        </ul>
</div>