<div class="footer">
    <div class="row g-3 p-4 offset-md-0">
        <div class="col-md-2">
            <ul class="list-group f-list">
                <li>
                    <P class="f-head">Categories</P>
                </li>
                <li><a href="#">Mobile</a></li>
                <li><a href="#">Fashion</a></li>
                <li><a href="#">Electronics</a></li>
                <li><a href="#">Men</a></li>
                <li><a href="#">Woman</a></li>
            </ul>
        </div>
        <div class="col-md-2 mt-1">
            <P class="f-head mt-4"> </P>
            <ul class="list-group f-list mt-5">
                <li><a href="#">Shirts</a></li>
                <li><a href="#">Pants</a></li>
                <li><a href="#">Shorts</a></li>
                <li><a href="#">Shorts</a></li>
                <li><a href="#">Outerwear</a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <ul class="list-group f-list">
                <li>
                    <P class="f-head">Get to know us</P>
                </li>
                <li><a href="#">Company</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Help Center</a></li>
                <li><a href="#">Our Value</a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <ul class="list-group f-list">
                <li>
                    <P class="f-head">For Consumers</P>
                </li>
                <li><a href="#">Payments</a></li>
                <li><a href="#">Shipping</a></li>
                <li><a href="#">Product Returns</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#"> Shop Checkout</a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <ul class="list-group f-list">
                <li>
                    <P class="f-head">Become a Shopper</P>
                </li>
                <li><a href="#">Shopper Opportunities</a></li>
                <li><a href="#">Become a Shopper</a></li>
                <li><a href="#">Earnings</a></li>
                <li><a href="#">Ideas & Guides</a></li>
                <li><a href="#">New Retailers</a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <ul class="list-group f-list">
                <li>
                    <P class="f-head">Freshcart programs</P>
                </li>
                <li><a href="#">Freshcart programs</a></li>
                <li><a href="#">Gift Cards</a></li>
                <li><a href="#">Promos & Coupons</a></li>
                <li><a href="#">Freshcart Ads</a></li>
                <li><a href="#">Careers</a></li>
            </ul>
        </div>
        <br><br><br>
        <hr class="text-black">
        <nav class="navbar navbar-expand-lg mt-0 ">
            <div class="container-fluid">
                <span class="payment-partner">Payment Partners</span>
                <div class="collapse navbar-collapse mt-0" id="navbarText">
                    <ul class="navbar-nav me-auto mb-1 mb-lg-0 ms-3">
                        <li class="nav-item">
                            <img src="https://freshcart.codescandy.com/assets/images/payment/paypal.svg" alt="paypal">
                            <img src="https://freshcart.codescandy.com/assets/images/payment/amazonpay.svg"
                                alt="amazonpay">
                            <img src="https://freshcart.codescandy.com/assets/images/payment/american-express.svg"
                                alt="american-express">
                            <img src="https://freshcart.codescandy.com/assets/images/payment//mastercard.svg"
                                alt="mastercard">
                            <img src="https://freshcart.codescandy.com/assets/images/payment/visa.svg" alt="visa">
                        </li>
                    </ul>
                    <span class="navbar-text">
                        <span class="ms-3 payments">Get deliveries with FreshCart</span>
                        <img src="https://freshcart.codescandy.com/assets/images/appbutton/appstore-btn.svg"
                            alt="appstore">
                        <img src="https://freshcart.codescandy.com/assets/images/appbutton/googleplay-btn.svg"
                            alt="googleplay">
                    </span>
                </div>
            </div>
        </nav>
        <hr class="text-black">
        <div class="">
            <div class="f-icon">
                <span class="copy-right">&copy; 2025 - 2030 EasyCart eCommerce Website. All rights reserved. Powered by
                    Jaykant-Yadav .</span>
                <span class="offset-4">Follow us on</span>
                <button class="f-icon"><a href="#"><i class="fa-brands fa-facebook"></i></a></button>
                <button class="f-icon"><a href="#"><i class="fa-brands fa-x-twitter"></i></a></button>
                <button class="f-icon"><a href="#"><i class="fa-brands fa-instagram"></i></a></button>
            </div>
        </div>
    </div>
</div>