<div class="mt-5 container-fluid footer">
    <footer class="py-5 border-top ms-5 me-5">
        <div class="row">
            <div class="col-6 col-md-2 mb-3">
                <h5>Get to know us</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Company</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Help Center</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Our Value</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">About</a></li>
                </ul>
            </div>

            <div class="col-6 col-md-2 mb-3">
                <h5>For Consumers</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Payments</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Shipping</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Product Returns</a>
                    </li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Shop Checkout</a>
                    </li>
                </ul>
            </div>

            <div class="col-6 col-md-2 mb-3">
                <h5>Become a Shopper</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Shopper
                            Opportunities</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Become a Shopper</a>
                    </li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Earnings</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Ideas & Guides</a>
                    </li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">New Retailers</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 offset-md-1 mb-3">
                <form>
                    <h5>Subscribe to our newsletter</h5>
                    <p class="text-light">Monthly digest of what's new and exciting from us.</p>
                    <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                        <label for="newsletter1" class="visually-hidden">Email address</label>
                        <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                        <button class="btn btn-primary" type="button">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg mt-0 bg-light">
            <div class="container-fluid rounded">
                <span class="payment-partner text-black">Payment Partners</span>
                <div class="collapse navbar-collapse mt-0 " id="navbarText">
                    <ul class="navbar-nav me-auto mb-1 mb-lg-0 ms-3 bg-light rounded">
                        <li class="nav-item">
                            <img src="https://freshcart.codescandy.com/assets/images/payment/paypal.svg" alt="paypal">
                            <img src="https://freshcart.codescandy.com/assets/images/payment/amazonpay.svg"
                                alt="amazonpay">
                            <img src="https://freshcart.codescandy.com/assets/images/payment/american-express.svg"
                                alt="american-express">
                            <img src="https://freshcart.codescandy.com/assets/images/payment//mastercard.svg"
                                alt="mastercard">
                            <img src="https://freshcart.codescandy.com/assets/images/payment/visa.svg" alt="visa">
                        </li>
                    </ul>
                    <span class="navbar-text">
                        <span class="ms-3 payments text-black">Get deliveries with Easykart</span>
                        <img src="https://freshcart.codescandy.com/assets/images/appbutton/appstore-btn.svg"
                            alt="appstore">
                        <img src="https://freshcart.codescandy.com/assets/images/appbutton/googleplay-btn.svg"
                            alt="googleplay">
                    </span>
                </div>
            </div>
        </nav>
        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
            <p class="text-light">&copy; 2025 Company, Inc. All rights reserved. Powered by Jaykant-Yadav .</p>
            <ul class="list-unstyled d-flex">
                <li class="me-3 text-light">Follow us on</li>
                <li class="ms-3"><a class="link-body-emphasis text-light" href="#"><i class="fa-brands fa-facebook"></i></a></li>
                <li class="ms-3"><a class="link-body-emphasis text-light" href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                <li class="ms-3"><a class="link-body-emphasis text-light" href="#"><i class="fa-brands fa-instagram"></i></a></li>
            </ul>
        </div>
    </footer>
</div>