<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid p-1 offset-md-1">
        <div class="row">
            <a class="navbar-brand" href="/"><i class="fa-solid fa-dumpster"></i> Easykart</a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse offset-md-1" id="navbarSupportedContent row">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item mx-2">
                    <a class="nav-link fw-semibold text-muted" href="/">Home</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link fw-semibold text-muted" href="#">Categories</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link fw-semibold text-muted" aria-disabled="true">Today's Deals</a>
                </li>
                <form class="d-flex search-inp mx-5" role="search">
                    <div class="google-search-container">
                        <input type="text" class="google-search-input form-control"
                            placeholder="Search for product, brand and more...">
                        <button class="google-search-button btn">
                            <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                        </button>
                    </div>
                </form>
                <div class="dropdown offset-md-2 ms-5">
                    <a href="/users/auth" class="btn btn-light dropdown-toggle">
                        <i class="fa-regular fa-user"></i> Login / Register	
                      </a>                      
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">New customer? &nbsp; <span
                                    class="text-success h6">SignUp</span></a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-person-circle"></i> &nbsp;My Profile</a>
                        </li>
                        <li><a class="dropdown-item" href="#"><i class="fa-solid fa-cart-plus"></i> &nbsp;Cart</a></li>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-box-seam"></i> &nbsp;Orders</a></li>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-heart"></i> &nbsp;Wishlist</a></li>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-box-arrow-right"></i> &nbsp;Logout</a>
                        </li>
                    </ul>
                </div>
                <!-- <li class="nav-item mx-2">
                    <button class="btn cart-nav"><i class="fa-solid fa-cart-plus"></i> Cart</button>
                </li> -->
            </ul>
        </div>
    </div>
</nav>