<nav class="nav bg-body-tertiary justify-content-left shadow-sm p-3 rounded">
    <div class="dropdown offset-md-1">
        <li class="nav-item mx-2">
            <a class="nav-link" aria-disabled="true"><i class="fa-solid fa-list"></i>&nbsp; &nbsp;All Categories</a>
        </li>
      
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#"><i class="fa-solid fa-mobile"></i>&nbsp;Mobiles</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    <div class="dropdown offset-md-">
        <li class="nav-item mx-2">
            <a class="nav-link" aria-disabled="true">Shop <i class="bi bi-chevron-down"></i></a>
        </li>
      
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    <div class="dropdown offset-md-">
        <li class="nav-item mx-2">
            <a class="nav-link" aria-disabled="true">Store <i class="bi bi-chevron-down"></i></a>
        </li>
      
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    <div class="dropdown offset-md-">
        <li class="nav-item mx-2">
            <a class="nav-link" aria-disabled="true">Mega Menu <i class="bi bi-chevron-down"></i></a>
        </li>
      
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    <div class="dropdown offset-md-">
        <li class="nav-item mx-2">
            <a class="nav-link" aria-disabled="true">Page <i class="bi bi-chevron-down"></i></a>
        </li>
      
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    <div class="dropdown offset-md-">
        <li class="nav-item mx-2">
            <a class="nav-link" aria-disabled="true">Account <i class="bi bi-chevron-down"></i></a>
        </li>
      
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    <div class="dropdown offset-md-">
        <li class="nav-item mx-2">
            <a class="nav-link" aria-disabled="true" href="/deshboard">Deshboard <i class="bi bi-chevron-down"></i></a>
        </li>
      
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    <!-- <a class="nav-link active" aria-current="page" href="#">Active</a> -->
    <a class="nav-link" href="/products/new">Add New Product</a>
    <!-- <a class="nav-link" href="#">Link</a> -->
    <!-- <a class="nav-link disabled" aria-disabled="true">Disabled</a> -->
    
</nav>