<body>
    <%- layout("./layouts/boilerplate.ejs")%>

        <div class="row col-md-8 offset-md-2 mb-5">

            <h1 class="mb-5">Create New Post</h1>
            <form action="/chats" method="post" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="title" class="form-label"></label>
                    <input type="text" name="chat[title]" class="form-control" placeholder="Title*"
                        id="title" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        please enter title!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="title" for="validationTextarea" class="form-label">Enter Descriptions</label>
                    <textarea name="chat[description]" id="validationTextarea" placeholder="enter description"
                        class="form-control" required> </textarea>
                    <div class="invalid-feedback">
                        Please enter your discriptions.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="title" class="form-label">Enter Image Link</label>
                    <input type="text" name="chat[image]" id="" placeholder="enter image url/link" class="form-control">
                </div>

                <div class="mb-3">
                    <label for="title" class="form-label">Enter Category</label>
                    <input type="text" name="chat[category]" id="" placeholder="enter category" class="form-control" required>
                </div>

                <!-- <div class="mb-3">
            <label for="title" class="form-label">Enter </label>
            <input name="chat[profileImage]" id="" placeholder="enter profileImage link" class="form-control">
        </div> -->

                <div class="mb-3">
                    <label for="title" class="form-label">Enter Location</label>
                    <input name="chat[location]" id="" placeholder="enter location" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label for="title" class="form-label">Enter Country</label>
                    <input name="chat[country]" id="" placeholder="enter country" class="form-control" required>
                </div>

                <button class="btn btn-outline-primary mb-3 offset-md-4 col-md-4">Share</button>
            </form>
        </div>
</body>