<div id="carouselExampleFade" class="carousel slide carousel-fade slider mt-4 featured-Category container">
  <h4><b>Featured products</b></h4>
  <!-- <div class="carousel-inner fec-img"> -->
  <!-- <div class="carousel-item active"> -->
  <div class="row f-product ">
    <% const newProducts=Products .filter((product)=> product.releaseDate) // Filter products with release dates
      .sort((a, b) => new Date(b.releaseDate) - new Date(a.releaseDate)) // Sort by newest first
      .slice(0, 6); // Take the first 6
      %>
      <% newProducts.forEach((product, idx)=> { %>
        <div class="col-2 p-3">
          <a href="/Products/<%= product._id %>">
            <div class="card p-3" style="height: 45%; width: 115%;">
              <img src="<%= product.image.url %>" class="card-img-top" alt="...">
              <div class="card-img-overlay">
                <p class="card-title hastag">#<%= idx+1 %>
                </p>
              </div>
            </div>
          </a>
        </div>
        <% }) %>
  </div>
  <div class="carousel-item">
    <img
      src="https://img.freepik.com/free-photo/laughing-black-man-glasses-expressing-excitement-emotional-international-student-holding-computer_197531-20167.jpg"
      class="d-block" alt="...">
  </div>
  <div class="carousel-item">
    <img
      src="https://img.freepik.com/free-photo/confident-serious-handsome-man-wears-black-leather-jacket-gray-t-shirt-stylish-eyewear-looks-directly-into-camera-isolated-people-style-concept_176420-13362.jpg"
      class="d-block" alt="...">
  </div>
</div>
<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
</button>
</div>