<%- layout("./layouts/template.ejs")%>
    <!-- <body>

        <div class="row col-md-8 offset-md-2 mb-5">

            <h1 class="mb-5">Create New Post</h1>
            <form action="/chats" method="post" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="title" class="form-label"></label>
                    <input type="text" name="chat[title]" class="form-control" placeholder="Title*"
                        id="title" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        please enter title!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="title" for="validationTextarea" class="form-label">Enter Descriptions</label>
                    <textarea name="chat[description]" id="validationTextarea" placeholder="enter description"
                        class="form-control" required> </textarea>
                    <div class="invalid-feedback">
                        Please enter your discriptions.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="title" class="form-label">Enter Image Link</label>
                    <input type="text" name="chat[image]" id="" placeholder="enter image url/link" class="form-control">
                </div>

                <div class="mb-3">
                    <label for="title" class="form-label">Enter Category</label>
                    <input type="text" name="chat[category]" id="" placeholder="enter category" class="form-control" required>
                </div>

                <div class="mb-3">
            <label for="title" class="form-label">Enter </label>
            <input name="chat[profileImage]" id="" placeholder="enter profileImage link" class="form-control">
        </div> -->

    <!-- <div class="mb-3">
                    <label for="title" class="form-label">Enter Location</label>
                    <input name="chat[location]" id="" placeholder="enter location" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label for="title" class="form-label">Enter Country</label>
                    <input name="chat[country]" id="" placeholder="enter country" class="form-control" required>
                </div>

                <button class="btn btn-outline-primary mb-3 offset-md-4 col-md-4">Share</button>
            </form>
        </div>
</body> -->

    <div class="bg-body-tertiary mt-4">
        <h1 class="p-3 ">Product Details</h1>
        <form class="row g-3 needs-validation p-4 p" novalidate>
            <div class="col-md-4">
                <label for="validationCustom01" class="form-label">Title</label>
                <input type="text" class="form-control" id="validationCustom01" placeholder="enter product title"
                    required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-3">
                <label for="validationCustom03" class="form-label">Color</label>
                <input type="text" class="form-control" id="validationCustom03" placeholder="brown" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4">
                <label for="validationCustom07" class="form-label">Size</label>
                <input type="text" class="form-control" id="validationCustom07" placeholder="S, M, L, XL, XXL" required>
                <div class="invalid-feedback">
                    Please provide a valid size.
                </div>
            </div>
            <div class="col-md-3">
                <label for="validationCustom04" class="form-label">Price</label>
                <input type="number" class="form-control" id="validationCustom04" placeholder="999" min="50" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            
            <div class="col-md-3">
                <label for="validationCustom05" class="form-label">Original Price</label>
                <input type="number" class="form-control" id="validationCustom05" placeholder="2999" required>
                <div class="invalid-feedback">
                    Please provide a valid discount price.
                </div>
            </div>
            <div class="col-md-3">
                <label for="validationCustom06" class="form-label">Discount Percentage</label>
                <input type="number" class="form-control" id="validationCustom06" placeholder="18" required>
                <div class="invalid-feedback">
                    Please provide a valid discount percentege.
                </div>
            </div>
            
            <div class="col-md-6">
                <label for="validationCustom08" class="form-label">Brand Name</label>
                <input type="text" class="form-control" id="validationCustom08" placeholder="Enter brand name..."
                required>
                <div class="invalid-feedback">
                    Please provide a valid Brand Name.
                </div>
            </div>
            <div class="col-md-6">
                <label for="validationCustom09" class="form-label">Product Image</label>
                <input type="file" class="form-control"id="validationCustom08" aria-label="file example" required>
                <div class="invalid-feedback">Example invalid form file feedback</div>
            </div>
            
            
            
            <div class="col-md-3">
                <label for="validationCustom04" class="form-label">State</label>
                <select class="form-select" id="validationCustom04" required>
                    <option selected disabled value="">Choose...</option>
                    <option>...</option>
                </select>
                <div class="invalid-feedback">
                    Please select a valid state.
                </div>
            </div>
            <div class="col-md-3">
                <label for="validationCustom05" class="form-label">Zip</label>
                <input type="text" class="form-control" id="validationCustom05" required>
                <div class="invalid-feedback">
                    Please provide a valid zip.
                </div>
            </div>
            <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                    <label class="form-check-label" for="invalidCheck">
                        Agree to terms and conditions
                    </label>
                    <div class="invalid-feedback">
                        You must agree before submitting.
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <label for="validationCustom02" class="form-label">Description</label>
                <textarea type="text" class="form-control" id="validationCustom02"
                    placeholder="Write product valid description..." required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-12">
                <button class="btn btn-primary" type="submit">Submit form</button>
            </div>
        </form>
    </div>